*.html linguist-detectable=false
*.tex linguist-detectable=false
*.fd linguist-detectable=false
*.bst linguist-detectable=false
*.aux linguist-detectable=false
*.bbl linguist-detectable=false
*.blg linguist-detectable=false
*.brf linguist-detectable=false
*.cls linguist-detectable=false
*.dtx linguist-detectable=false
