*.html linguist-detectable=false
*.tex linguist-detectable=false
*.fd linguist-detectable=false
*.toc linguist-detectable=false
*.aux linguist-detectable=false
*.pkg linguist-detectable=false
*.zip linguist-detectable=false
*.brf linguist-detectable=false
*.cls linguist-detectable=false
*.dtx linguist-detectable=false
